*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
  
}
HTML CSSResult Skip Results Iframe EDIT ON *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.clear-right{
  clear: right;
}
.clear-left{
  clear:left;
}